ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }   
  body{
      background-image: url(https://images.unsplash.com/photo-1466074395296-41cba23ce4f8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1068&q=80);
  }
  section,#home{
    height: 80%;
    background-size: cover;
  }
  #Aboutme{
    background-color:rgb(46, 46, 116);
    font-size: 60px;
    width:100%;
    height: 100%; 
  }
  h1{
    text-align: center;
    margin:0;
    padding:40px;
  }
  h2{
    text-align: center;
    font-size: 40px;
    padding:100px;
  }
  h3{
    text-align: center;
    font-size: 25px;
    padding:100px;
  }
  p{
    display: block;
    font-size: 20px;
    text-align: center;
    float:center;
    margin: 0 ; 
    padding: 73px; 
    font-family:'Josefin Sans',sans-serif;              
  } 
  img{
    margin-top: 10px; 
    float: center;
    max-width: 300px;
    min-height: 200px;
    min-width: 200px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    width:450px;
    height:450px;
  }
  .img-circle{
      border-radius: 100%
      
  }
  ol li{
    font-size: 20px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  footer{
    width:100%;
    height:70px;
    text-align:center;
    background-color:lightgray; 
    font-size:30px;
    border-radius: 5px;
  }
  .clear{
    clear: both;
  }